body{
width:100%;
overflow-x:hidden;
}
.ks{
	text-align:center;
	font-family: 'PT Sans', sans-serif;
	background-color:#f7f8fa;
	padding:0.05px;
	font-size:14px;
}

.klant{
	text-decoration: none;
	color:#8d7bf3;
}

a:hover {
    color:#56a9fa;
}

header{
 	background-color:white;
 	width:100%;
 	height: 100px; 	
}

header .foto{
 	text-align:center;
 	display :block;
 	margin:0 auto;
 	padding: 20px 0;
 	color: #111;
}

header nav ul{
	display: block;
	margin: 0 auto;
	width: fit-content;
}

header nav ul li {
	display : inline-block;
	float: left;
	list-style: none;
	padding: 1 3px;
}

header nav ul li a{
	text-decoration: none;
	font-family: 'PT Sans', sans-serif;
	font-size:17px;
	padding: 0 20px;
	color: #111;
}
/*navbar*/
@media only screen and (min-width: 1000px){
	header .foto{
 		text-align:left;
 		margin:20px 0 ;
 		padding: 0px 20px 5px 250px;
 		float:left;
 		line-height: 60px
}

header nav ul{
	margin: 20px 199px 0px 0px;
	float:right;
	font-size:16px;
	text-align:center;
}

header nav ul li a{
	line-height: 60px;

}

nav ul li a {
    position: relative;
    text-decoration: none;
    color: white;
    margin: 20px;
    font-size: 16px;
}

nav ul li a:hover {

 border-bottom:3px solid #56a9fa ;
 color:#56a9fa;

}
.nav1:hover{
	display:relative;
	border-bottom:3px solid #56a9fa ;
 	color:#56a9fa;
 	padding:1%;
 	padding-bottom:55px;
 	margin:39px;
}
.nav2:hover{
	display:relative;
	border-bottom:3px solid #56a9fa ;
 	color:#56a9fa;
 	padding:1%;
 	margin: 38px;
  	padding-bottom:55px;
}
.nav3:hover{
	border-bottom:3px solid #56a9fa ;
 	color:#56a9fa;
 	padding:1%;
 	margin:38.55px;
 	padding-bottom:55px;
}
.nav4:hover{
	border-bottom:3px solid #56a9fa ;
 	color:#56a9fa;
 	padding:1%;
 	margin:39px;
  	padding-bottom:55px;
}
.nav5:hover{
	border-bottom:3px solid #56a9fa ;
 	color:#56a9fa;
 	padding:1%;
 	margin:38.6px;
  	padding-bottom:55px;
}
}


/* homepagina */

.homepagina-banner{
	width:100%;
	height: calc(100vh - 100px);
	background-image:url('schermverkopen.png');

	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
	display:table;
}

.hoogte{
	display:table-cell;
	vertical-align: middle;
}

.homepagina-banner h2{
	font-size:60px;
	font-family: 'PT Sans', sans-serif;
	color:white;
	text-align:center;
	font-weight:900;
	text-shadow: 2px 2px  5px #111;
	line-height: 63px
}
.homepagina-banner h1{
	font-size:16px;
	font-family: 'PT Sans', sans-serif;
	color:white;
	text-align:center;
	font-weight:100;
	text-shadow: 2px 2px  5px #111;
}
/*homepagina pc*/
@media only screen and (min-width: 1000px){
	.homepagina-banner{
	margin-left:12.5%;
	width:75%;
	height: 500px;
	background-image:url('schermverkopen.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
	display:table;
}

.homepagina-banner h2{
	text-align:left;
	width:560px;
	text-shadow: 0px 0px  0px #111;
	line-height: 75px
	height:9;
	margin:100px 0px 0px 200px;
}

.homepagina-banner h1{
	text-align:left;
	text-shadow: 0px 0px  0px #111;
	display:block;
	width:560px;
	margin:0px 20px 0px 200px;

}
}

.knop{
	text-align:center;
	margin:auto;
	background:-webkit-linear-gradient(left, #8673f3, #bb79f3);
	display: block;
	border-radius:50px;
	width:150px;
	padding:7px 4px;
	color:white;
	font-family: 'PT Sans', sans-serif;
	font-size:13px;
	margin-top:90px;

}

.knoponder{
	text-align:center;
	margin:auto;
	background:-webkit-linear-gradient(left, #8673f3, #bb79f3);
	display: block;
	border-radius:50px;
	width:150px;
	padding:7px 4px;
	color:white;
	font-family: 'PT Sans', sans-serif;
	font-size:13px;
	margin-top:20px;
	margin-bottom:20px;
}

.telefoon{
	height:auto;
	width:12px;
	display:inline-block;
}

.knop:hover{
	transition: transform .2s;
	transform: scale(1.1);
}

.knoponder:hover{
	transition: transform .2s;
	transform: scale(1.1);
}

.werking{
	margin: 18px;
	width:calc(100%- 36px);
	height:175px;
	text-align:center;
	color: #111;
	font-family: 'PT Sans', sans-serif;

}

.hoehetwerkt{
	text-align:center;
	font-family: 'PT Sans', sans-serif;
}

.kortehr{
	width:12.5%;
	height:1.5px;
	background-color:black;
}

.uitleg{
	color:#aeaeae;
}
/*Hoe het werkt*/
@media only screen and (min-width: 1000px){
	.knop{
	text-align:center;
	margin:30px 0px 0px 200px;
	width:175px;
	padding:7px 4px;
}

.werking1{
	width: 1000px;
 	margin:0 auto;
 	display:inline-block;
 	margin-left:475px;

}

.werking{
	margin: 35px;
	width:calc(25%- 20px) !important;
	float:left;
	display:block;

}

.kortehr{
	width:2%;
}

.knoponder{
	text-align:center;
	margin:auto;
	display: block;
	padding:7px 4px;
	margin-top:20px;
	margin-bottom:20px;
}

.ks{
    background-color:#f7f8fa;
    width:100%;
    padding:0.025px;
    font-family: 'PT Sans', sans-serif;
    font-size:14px;
    margin-top:-10px;
}

.klant{
	text-decoration: none;
	color:#8d7bf3;
	margin: 0; padding: 0; border: 0; outline: 0;
	font-family: 'PT Sans', sans-serif;
}

p{
	margin-right:1150px;
}
}
